<html xmlns:th="http://www.thymeleaf.org">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script src="appmodule.js"></script>
</head>
<body ng-app="dish-app">
	<div ng-controller="controller">
	<input type="number" ng-model="id">
	<button ng-click="findId(id)">Find Dish</button>
	<br>
	<input type="file"  ng-model="image">
	<button ng-click="upload(image)">Upload image</button>
	
	<h1>{{url}}</h1>
	<div>{{dish}}</div>
	<div>{{1 * 5}}</div>
	<div>{{reply}}</div>

	</div>
</body>
